/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */


*,*:before,*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

img {
    -ms-interpolation-mode: bicubic;
    pointer-events: none;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Farzin Fadamin custom styles
   ========================================================================== */

   @font-face {
    font-family:'AvenirNext';
    src: url('fonts/AvenirNext-Bold.eot');
    src: url('fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/AvenirNext-Bold.woff') format('woff'),
    url('fonts/AvenirNext-Bold.ttf') format('truetype'),
    url('fonts/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family:'AvenirNext';
    src: url('fonts/AvenirNext-Medium.eot');
    src: url('fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/AvenirNext-Medium.woff') format('woff'),
    url('fonts/AvenirNext-Medium.ttf') format('truetype'),
    url('fonts/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNext';
    src: url('fonts/AvenirNext-Regular.eot');
    src: url('fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/AvenirNext-Regular.woff') format('woff'),
    url('fonts/AvenirNext-Regular.ttf') format('truetype'),
    url('fonts/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "AvenirNext", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight:300;
    font-stretch:normal;
    background: #f7f7f7;
    color: #333;
    min-width: 320px;
    font-weight: 400;
}

a:link,
a:visited{
    color: #39c;
    text-decoration: none;
    -webkit-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
    -o-transition: all 0.12s ease-in-out;
    transition: all 0.12s ease-in-out;
}

.no-touch a:hover{
    color: #2383b3;
}

strong{
    color: #39c;
    font-weight: normal;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.lk-header{
    background: url('../img/banner.jpg') no-repeat center center #000;
    background-size: cover;
    height: 500px;
    overflow: hidden;
    position: relative;
    color: #fff;
    text-align: center;
}

.inner-page .lk-header{
    height: 400px;
}

.lk-page-title{
    margin-top: 150px;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
}

.lk-page-title h2{
    font-size: 40px;
    font-family: 'Open Sans', Arial, sans-serif;
    margin-bottom: 10px;
    line-height: normal;
}

.lk-page-title p{
    font-size: 20px;
}

.lk-header-inner{
    position: relative;
    height: 500px;
    padding-top: 120px;
}

.lk-header-topbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 40px 0 20px;
    z-index: 10;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.lk-header-topbar h1{
    margin: 0 auto;
    background: url('../img/sprite.png') no-repeat 0 -100px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    text-indent: 500px;
}

.lk-header-topbar h1 a{
    float: left;
    width: 175px;
    height: 60px;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .lk-header-topbar h1{
        background-image: url('../img/sprite@2x.png');
        background-size: 250px 230px;
    }
}

a.btn-orderone{
    display: inline-block;
    border: 1px solid #fff;
    padding: 7px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.125em;
    margin-top: 5px;
    -webkit-transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
    -moz-transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
    -o-transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
    transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
}

a.btn-orderone i{
    background: url('../img/sprite.png') no-repeat 0 -30px;
    display: inline-block;
    margin-right: 10px;
    width: 24px;
    height: 16px;
    position: relative;
    top: 1px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    a.btn-orderone i{
        background-image: url('../img/sprite@2x.png');
        background-size: 250px 230px;
    }
}

.no-touch a.btn-orderone:hover{
    background: #fff;
    color: #333;
}

.no-touch a.btn-orderone:hover i{
    background-position: -30px -30px;
}

.lk-header-topbar a.btn-orderone,
.lk-header .lk-handiphone{
    display: none;
}

.lk-bnr-details{
    margin-top: 30px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.lk-bnr-details h2{
    margin: 0;
    font-size: 5.25em;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1;
}

.lk-bnr-details h3{
    margin: 0 0 .8em;
    font-size: 2.2em;
    text-transform: uppercase;
}

.lk-bnr-details p.lk-first-p{
    font-size: 2em;
}

.lk-bnr-details p{
    font-size: 1.2em;
    font-weight: 400;
}

.lk-bnr-details b{
    font-weight: 500;
}

.lk-bnr-details .lk-bnr-text{
    font-size: 2em;
    font-family: 'Allura', cursive;
    font-weight: normal;
    position: relative;
    margin: .5em auto;
    width: 80%;
}

.lk-bnr-details .lk-bnr-text:before,
.lk-bnr-details .lk-bnr-text:after{
    position: absolute;
    top: 50%;
    height: 1px;
    background: #fff;
    width: 25%;
    content: "";
}

.lk-bnr-details .lk-bnr-text:before{
    left: 0;
}
.lk-bnr-details .lk-bnr-text:after{
    right: 0;
}

.lk-bnr-details h2,
.lk-bnr-details h3,
.lk-bnr-details p{
    opacity: 0;
    -webkit-transition: all .5s ease-in-out 1s;
    -moz-transition: all .5s ease-in-out 1s;
    -o-transition: all .5s ease-in-out 1s;
    transition: all .5s ease-in-out 1s;
}

.lk-bnr-details h2{
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
}

.lk-bnr-details h3{
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px);
}
.lk-bnr-details p{
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
}

.lk-bnr-details.show h2,
.lk-bnr-details.show h3,
.lk-bnr-details.show p{
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.inner-page .lk-main-container{
    background: #fff;
}

.bullet-list{
    margin: 50px 0;
    font-size: 1.25em;
    list-style: none;
}

.bullet-list li{
    margin-bottom: 1em;
    padding-left: 20px;
    background: url('../img/bullet-list.png') no-repeat left 8px;
}

.lk-main-container > div{
    overflow: hidden;
    padding: 30px 0;
}

.lk-main-container > div.gray-box{
    background: #ebebeb;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.lk-main-container aside,
.lk-main-container section{
    position: relative;
}

.lk-main-container aside{
    text-align: center;
    *zoom: 1;
}

.lk-main-container aside:before,
.lk-main-container aside::after{
    content: '';
    display: table;
}

.lk-main-container aside::after{
    clear: both;
}

.lk-main-container section{
    z-index: 5;
}

.lk-main-container > div.section-fashion,
.lk-main-container > div.section-howitworks{
    padding-bottom: 0;
}

.section-howitworks aside{
    height: 320px;
    position: relative;
}

.lk-main-container h2{
    text-align: center;
    margin-bottom: 0;
    font-size: 2.7em;
    font-weight: 300;
    line-height: 1.2;
}

.lk-main-container h4{
    text-align: center;
    margin: 0 0 1em;
    font-size: 1.5em;
    font-weight: 300;
    color: #888;
    font-size: 300;
}

.section-fashion aside{
    text-align: center;
}

.lk-main-container aside img{
    width: 100%;
    -webkit-transition: all .7s ease-in-out .3s;
    -moz-transition: all .7s ease-in-out .3s;
    -o-transition: all .7s ease-in-out .3s;
    transition: all .7s ease-in-out .3s;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
    opacity: 0;
}

.lk-main-container > div.active aside img{
    opacity: 1;
}

.section-lockit aside img{
    max-width: 659px;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
}

.section-lockit.active aside img{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.section-fashion aside img{
    max-width: 507px;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
}

.section-fashion.active aside img{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.section-howitworks aside{
    padding: 50px 0 0;
}

.section-howitworks aside img.iphone{
    max-width: 429px;
    float: right;
    position: absolute;
    bottom: -20px;
    right: -50px;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
}

.section-howitworks.active aside img.iphone{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.section-howitworks aside img.lockit-separated{
    width: 80%;
    max-width: 378px;
    position: absolute;
    z-index: 2;
    left: -20px;
    bottom: -70px;
    -webkit-transform: translateX(70%);
    -moz-transform: translateX(70%);
    -o-transform: translateX(70%);
    transform: translateX(70%);
    -webkit-transition: all .7s ease-in-out .6s;
    -moz-transition: all .7s ease-in-out .6s;
    -o-transition: all .7s ease-in-out .6s;
    transition: all .7s ease-in-out .6s;
}

.section-howitworks.active aside img.lockit-separated{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.section-comingsoon aside img{
    max-width: 1018px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
}

.section-comingsoon.active aside img{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.section-comingsoon p{
    width: 70%;
    margin: 1em auto;
}

.notification-box{
    background: #dcdcdc;
    text-align: center;
    padding: 30px 0;
}

.lk-footer{
    text-align: center;
    border-top: 1px solid #ddd;
    float: left;
    width: 100%;
}

.lk-online-ordering > h2{
    font-weight: 400;
    padding: 1em 0;
    font-size: 2.7em;
    line-height: 1;
    float: left;
    width: 100%;
}

.lk-preorder-list{
    margin: 20px auto;
    float: left;
    width: 100%;
    list-style: none;
    padding: 0;
}

.lk-preorder-list li{
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.lk-preorder-list li:last-child{
    margin-bottom: 0;
}

.lk-preorder-list li figure{
    margin-bottom: 10px;
    height: 250px;
    position: relative;
}

.lk-preorder-list li figcaption{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.5em;
    font-weight: 500;
    color: #333;
}

.lk-preorder-list a{
    min-width: 200px;
    padding: 10px 20px;
    display: block;
    background: #2CA7F6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    margin: 5px 10px;
    font-size: 1.2em;
    text-transform: uppercase;
}

.no-touch .lk-preorder-list a:hover{
    background: #219ae8;
    color: #fff;
}

.lk-preorder-list small{
    display: block;
    line-height: 1;
}

.lk-footer .socials{
    text-align: center;
    padding: 30px 0 0;
}

.lk-footer .socials > *{
    vertical-align: top;
    margin: 0 5px;
    color: #fff;
}

.fb_iframe_widget span{
    float: left;
}
/*
.lk-footer .socials i{
    margin-right: 5px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../img/sprite.png') no-repeat;
    position: relative;
    top: 3px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .lk-footer .socials i{
        background-image: url('../img/sprite@2x.png');
        background-size: 250px 230px;
    }
}

.lk-footer .socials a.facebook{
    background-color: #3370aa;
}

.no-touch .lk-footer .socials a.facebook:hover{
    background-color: #2a659d;
}

.lk-footer .socials a.facebook i{
    background-position: 0 0;
}

.lk-footer .socials a.google{
    background-color: #d6492b;
}

.no-touch .lk-footer .socials a.google:hover{
    background-color: #cb4225;
}

.lk-footer .socials a.google i{
    background-position: -20px 0;
}

.lk-footer .socials a.twitter{
    background-color: #0bbcff;
}

.no-touch .lk-footer .socials a.twitter:hover{
    background-color: #0bb4f4;
}

.lk-footer .socials a.twitter i{
    background-position: -40px 0;
}

.lk-footer .socials a.pinterest{
    background-color: #cb2027;
}

.no-touch .lk-footer .socials a.pinterest:hover{
    background-color: #be1b22;
}

.lk-footer .socials a.pinterest i{
    background-position: -60px 0;
}
*/
.section-notify{
    padding: 30px 0;
}

.notify-form > div{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.notify-form > div > p{
    float: left;
    width: 100%;
    margin: 0 0 10px;
}

.notify-form > div > p:last-child{
    margin-bottom: 0;
}

.notify-form input[type="text"],
.notify-form input[type="email"],
.notify-form textarea{
    width: 100%;
    border: 1px solid #ddd;
    float: left;
    padding: 10px;
    height: 40px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.notify-form textarea{
    height: 120px;
    resize: none;
}

.notify-form.error input[type="text"],
.notify-form.error input[type="email"],
.notify-form.error textarea{
    background: #f8dddd;
    border-color: #edc0c0;
    color: #cc3333;
}

.notify-form button{
    display: inline-block;
    width: 100%;
    background: #39c;
    color: #fff;
    border: none;
    height: 55px;
    padding: 10px 5px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
    -o-transition: all 0.12s ease-in-out;
    transition: all 0.12s ease-in-out;
}

.notify-form .notify-label{
    padding: 10px 0;
    display: inline-block;
    text-align: center;
}

.no-touch .notify-form button:hover{
    background: #278abb;
}


.footer-bottom{
    padding: 30px 0;
    border-top: 1px solid #ddd;
}

.footer-bottom aside{
    margin: 0 0 20px 0;
}

.footer-bottom aside > *{
    display: inline-block;
    vertical-align: top;
}

.footer-bottom aside label{
    margin-top: -6px;
}

.footer-bottom aside a{
    height: 40px;
    background: url('../img/sprite.png') no-repeat left -50px;
    width: 241px;    
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .footer-bottom aside a{
        background-image: url('../img/sprite@2x.png');
        background-size: 250px 230px;
    }
}

.footer-bottom nav a{
    display: inline-block;
    margin: 0 5px;
    color: #333;
}

.no-touch .footer-bottom nav a:hover{
    color: #000;
}


.modal-notify{
   background: rgba(0,0,0,.6);
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 20;
   visibility: hidden;
   opacity: 0;
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

.modal-notify.hide{
    display: none;
}

.modal-notify.show{
    visibility: visible;
    opacity: 1;
}

.modal-notify .modal-box{
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    width: 90%;
    left: 5%;
    right: 5%;
    top: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.6);
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
}

.modal-notify a.close{
    position: absolute;
    right: 10px;
    top: 10px;
    background: url('../img/sprite.png') no-repeat -80px 0;
    width: 12px;    
    height: 12px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .modal-notify a.close{
        background-image: url('../img/sprite@2x.png');
        background-size: 250px 230px;
    }
}

.modal-notify section{
    padding: 30px;
    text-align: center;
}

.modal-box.active{
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.modal-box.get-email > section > p{
    display: none;
}

.modal-box.thankyou{
    height: 310px;
    top: 50%;
    background: url('../img/bg-bag.jpg') no-repeat -100px 0 #f7f7f7;
}

.modal-box.thankyou aside{
  float: right;
  padding: 10px;
  text-align: left;
  background: rgba(247, 247, 247, 0.85);
}

.modal-box.thankyou h2{
    font-size: 2em;
    font-weight: 400;
}



#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}



.lk-faq-list ul{
    list-style: none;
    padding: 0;
}

.lk-faq-list li{
    margin-bottom: 20px;
}

.lk-faq-list li:last-child{
    margin-bottom: 0;
}

.lk-faq-list li h3{
    font-size: 1.85em;
    font-weight: normal;
    margin-bottom: 10px;
}


.lk-footer .socials .instagram-widget{
    height: 22px;
    line-height: 20px;
    padding: 0 5px;
    border: 1px solid #d5d5d5;
    border: 1px solid rgba(0,0,0,.17);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    color: #262626;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    white-space: nowrap;
    width: auto;
    font-size: 10px;
}

.lk-footer .instagram-widget i{
    width: 14px;
    height: 14px;
    background: url("../img/logo-instagram.png") no-repeat;
    display: inline-block;
    position: relative;
    top: 3px;
}



@media only screen and (min-width: 768px){

    .inner-page .lk-header{
        height: 300px;
    }

    .notify-form input[type="text"],
    .notify-form input[type="email"],
    .notify-form textarea{
        height: 55px;
    }

    .lk-header,
    .lk-header-inner{
        height: 600px;
    }

    .lk-header{
        text-align: left;
    }

    .lk-header-topbar{
        padding: 20px 0;
    }

    .lk-bnr-details h3{
        font-size: 2.5em;
    }

    .lk-header-topbar h1{
        float: left;
        width: 175px;
        height: 60px;
    }

    .inner-page .lk-header-topbar,
    .lk-header-topbar.fixed{
        padding: 20px 0;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,.3);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .inner-page .lk-header-topbar h1,
    .lk-header-topbar.fixed h1{
        background-position: 0 -160px;
    }

    a.btn-orderone{
        float: right;
        margin-top: 5px;
    }

    .lk-header-topbar a.btn-orderone{
        display: block;
    }

    .inner-page .lk-header-topbar a.btn-orderone,
    .lk-header-topbar.fixed a.btn-orderone{
        border-color: #333;
        color: #333;
    }

    .inner-page .lk-header-topbar a.btn-orderone i,
    .lk-header-topbar.fixed a.btn-orderone i{
        background-position: -30px -30px;
    }

    .no-touch .inner-page .lk-header-topbar a.btn-orderone:hover,
    .no-touch .lk-header-topbar.fixed a.btn-orderone:hover{
        background: #333;
        color: #fff;
    }

    .no-touch .inner-page .lk-header-topbar a.btn-orderone:hover i,
    .no-touch .lk-header-topbar.fixed a.btn-orderone:hover i{
        background-position: 0 -30px;
    }

    .lk-bnr-details a.btn-orderone{
        display: none;
    }

    .lk-bnr-details{
        position: absolute;
        right: 0;
        bottom: 100px;
        width: 400px;
        font-size: 14px;
    }

    .lk-bnr-details .lk-bnr-text{
        width: 60%;
    }

    .lk-bnr-details p.lk-first-p{
        font-size: 2.2em;
    }

    .lk-header .lk-handiphone{
        max-width: 350px;
        display: block;
        position: absolute;
        bottom: 0;
        left: -50px;
        -webkit-transform: translateY(642px);
        -moz-transform: translateY(642px);
        -o-transform: translateY(642px);
        transform: translateY(642px);
        -webkit-transition: all .8s ease-in-out .3s;
        -moz-transition: all .8s ease-in-out .3s;
        -o-transition: all .8s ease-in-out .3s;
        transition: all .8s ease-in-out .3s;
    }

    .lk-header .lk-handiphone.show{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .section-howitworks aside img.iphone{
        max-width: 470px;
        float: right;
        position: relative;
        bottom: 0;
        right: 0;
    }

    .lk-preorder-list li{
        width: 33%;
    }

    .lk-preorder-list a{
        display: inline-block;
        width: 200px;
    }

    .footer-bottom aside{
        text-align: left;
        float: left;
        margin: 0;
    }

    .footer-bottom aside a{
        margin-left: 10px;
    }

    .footer-bottom nav{
        text-align: right;
        float: right;
    }

    .lk-footer .socials > *{
        display: inline-block;
        margin: 0 5px;
    }

    .section-notify > section{
        text-align: left;
        width: 50%;
        padding: 0 2%;
        float: left;
    }

    .modal-notify .modal-box{
        width: 600px;
        left: 50%;
        right: auto;
        margin-left: -300px;
    }

    .notify-form > div > p{
        width: 50%;
        padding-right: 5px;
        margin: 0;
    }

    .notify-form > div > p:last-child{
        padding-right: 0;
        padding-left: 5px;
        margin: 0;
    }

    .notify-form .btn-holder{
        text-align: center;
    }

    .notify-form button{
        width: 40%;
    }

    .modal-box.get-email > section > p{
        display: block;
    }

    .modal-box.thankyou{
        background-position: 0 0;
    }

    .modal-box.thankyou aside{
        margin-left: 250px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){

    .section-howitworks aside{
        height: 500px;
    }

    .section-howitworks aside img.iphone{
        bottom: 0;
        right: 0;
    }

    .section-howitworks aside img.lockit-separated{
        position: absolute;
        z-index: 2;
        left: 10%;
        bottom: -30px;
    }
}

@media only screen and (min-width: 992px) {


    .inner-page .lk-header{
        height: 300px;
    }

    .lk-page-title{
        text-align: left;
    }

    .lk-page-title p{
        max-width: 70%;
    }

    .lk-header-topbar{
        position: fixed;
    }

    .lk-header,
    .lk-header-inner{
        height: 768px;
    }

    .lk-bnr-details{
        right: 50px;
        bottom: 250px;
        width: 400px;
        font-size: 16px;
    }

    .lk-header .lk-handiphone{
        max-width: 490px;
    }

    .lk-main-container > div{
        padding: 50px 0;
    }

    .lk-main-container section,
    .lk-main-container aside{
        float: left;
        width: 50%;
    }

    .section-comingsoon section,
    .section-comingsoon aside{
        width: 100%;
        float: none;
        text-align: center;
    }


    .section-howitworks aside{
        height: auto;
    }

    .lk-main-container h2{
        text-align: left;
        white-space: nowrap;
    }

    .section-comingsoon h2{
        text-align: center;
    }

    .left-side section{
        float: right;
    }

    .left-side aside{
        float: left;
    }

    .section-comingsoon p{
        width: 70%;
        font-size: 1.25em;
    }

    .lk-main-container > div.section-howitworks{
        padding-bottom: 0;
    }

}

@media only screen and (min-width: 1200px) {

 .wrapper {
    width: 1170px;
    margin: 0 auto;
}

.lk-bnr-details{
    right: 100px;
    width: 480px;
}

.lk-bnr-details h3{
    font-size: 2.8125em;
}

.notify-form{
    font-size: 16px;
}

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

   .ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

   @media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}